IndentWidth: 4
ColumnLimit: 120

AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: true
# InsertBraces: true
InsertTrailingCommas: Wrapped
PointerAlignment: Left

AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 900000
BreakConstructorInitializers: BeforeComma

SpaceAfterTemplateKeyword: true
AlwaysBreakTemplateDeclarations: Yes